body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
}

header{
    background-color: #ebebeb;
    text-align: center;
    width: 960px;
    padding: 35px;
    margin: 10px auto;
}

.nav{
    background-color: #ebebeb;
    text-align: center;
    width: 960px;
    padding: 35px;
    margin: 10px auto;
}

#left{
    float: left;
    background-color: #ebebeb;
    text-align: center;
    width: 495px;
    padding: 17px;
    margin: 10px auto;
    overflow: hidden;
    display: block;
}

.article{
    background-color: #777;
    color: #ebebeb;
    text-align: center;
    padding: 13px;
    margin: 10px auto;
}

.headers{
    background-color: #ebebeb;
    text-align: center;
    padding: 13px;
    margin: 10px auto;
}

.paragraph{
    background-color: #ebebeb;
    text-align: center;
    padding: 13px;
    margin: 10px auto;    
}

#right{
    float: right;
    background-color: #ebebeb;
    text-align: center;
    width: 40%;
    height: 252px;
    padding: 15px;
    margin: 10px auto;
    overflow: hidden;
    display: block;
}

footer{
    background-color: #ebebeb;
    text-align: center;
    width: 960px;
    padding: 35px;
    margin: 10px auto;
    display: inline-block
}